$body-color: red;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    border: 1px solid black;
}

body{
    display: grid;
    grid-template-rows: 120px 35px auto 30px;
    color: $body-color;
    gap: 2px;
    justify-items: center;
}

header{
    display: grid;
    width: 100%;
    height: 120px;
    padding: 10px;
    justify-items: center;
    align-content: center;
}

nav{
    width: 100%;
    height: 35px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    align-items: center;
    justify-content: center;
    gap: 5px;
}

button{
    height: 27px;
    border: none;
    border-radius: 10px;
}

div.welcome{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    justify-items: center;
    align-items: center;
}

img.welcomeImg{
    width: 300px;
    height: 290px;
    border-radius: 50%;
}

h2{
    height: 60px;
    font-size: 30px;
    padding: 10px;
}

p{
    height: 30px;
    font-size: 18px;
    padding: 5px;
}


img.menuImg{
    height: 250px;
    width: auto;
}

div.menu{
    height: auto;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 5px;
}

@media (max-width: 480px) {
    div.menu{
        grid-template-columns: 1fr;
    }
}